<footer class="page-footer ">
			<div class="container">
				<div class="row">
					<div class="col-md-12 py-5">
						<div class="mb-5 flex-center">
							<a href="http://www.onac-vg.fr/fr/">
								<img src="{{ asset('img/logo-ONACVG.png') }}" class="img-fluid rounded  "/>
							</a>
							<a href="http://www.meurthe-et-moselle.gouv.fr/">
								<img src="{{ asset('img/logo-prefe.png') }}" class="img-fluid rounded "/>
							</a>
							<a href="http://le-souvenir-francais.fr/">
								<img src="{{ asset('img/logo-souvenir-francais.png') }}" class="img-fluid  "/>
							</a>
							<a href="https://www.nancy.fr/">
								<img src="{{ asset('img/Nancy-logo.png') }}" class="img-fluid" style="width:150px;height:auto;"/>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-copyright text-center py-3">
			<a href="https://www.nancy.fr/mentions-legales-6.html">
			Mentions légales
			</a>
			</div>
		</footer>